body {
    text-align: center;
    background-color: #E0F7FA; 
}

h1,h2 {
    margin: 20px;
    padding: 20px;
    color: #3b0b30; 
    border-radius: 5px;
    background-color: #f3aa3d; 
    border: 3px solid #0F88FB; 
}

div {
    font-family: "Segoe UI";
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;

    padding: 10px;
    border-radius: 15px;
    border: 1px solid #F48FB1; 
    background-color: #f8ffe0; 
    margin: 20px;
    gap: 10px;
}

.entry {
    margin: 0px;
    width: 100px;
    height: 25px;
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    color: darkslategrey;
}

iframe {
    min-width: 900px;
}