body {
    text-align: center;
    background-color: #f7f7f7; 
}

h1,h2 {
    margin: 20px;
    padding: 20px;
    color: #3b0b30; 
    border-radius: 5px;
    background-color: #f3aa3d; 
    border: 3px solid #044480; 
}

div {
    justify-content: center;
    flex-direction: column;    
    align-content: center;
    display: flex;

    padding: 10px;
    border-radius: 15px;
    border: 1px solid #F48FB1; 
    background-color: #ffdfcc; 
    margin: 20px;
    gap: 10px;
}

.entry {
    margin: 0px;
    width: 100px;
    height: 25px;
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    color: darkslategrey;
}

iframe {
    max-width: 100%;
    max-height: 100%;
}