body {
    text-align: center;
    background-color:  #FFFFFF; 
}

h1,h2 {
    margin: 20px;
    padding: 20px;
    color: #FFFFFF; 
    border-radius: 5px;
    background-color: #FF0000; 
    border: 3px solid #0F0000; 
}

div {
    font-family: "Segoe UI";
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;

    padding: 10px;
    border: 1px solid #0F0F0F; 
    border-radius: 15px;
    background-color: #EDEDED; 
    margin: 20px;
}

.entry {
    margin: 0px;
    width: 125px;
    height: 25px;
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    color: darkslategrey;
}

iframe {
    background-color: #808080; 
    border: 1px solid #AFAFAF; 
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 100%;
    padding: 5px;
    margin: 15px;
}
