body {
    text-align: center;
    background-color: #d6f0f0; 
}

h1,h2 {
    margin: 20px;
    padding: 20px;
    color: #d3e8e9; 
    border-radius: 5px;
    background-color: #ed0330de; 
    border: 3px solid #0F88FB; 
}

div {
    font-family: "Segoe UI";
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;

    padding: 10px;
    border: 1px solid #f48fb1; 
    border-radius: 15px;
    background-color: #FFF3E0; 
    margin: 20px;
}

.entry {
    margin: 0px;
    width: 125px;
    height: 25px;
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
    color: darkslategrey;
}

iframe {
    background-color: #8C9EFF; 
    border: 1px solid #80DEEA; 
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 100%;
    padding: 5px;
    margin: 15px;
}
