body{
    text-align: center;
    background-color: #eafbd1; 
    color: #333; 
}

h1,h2{
    margin: 20px;
    padding: 20px;
    color: #3e0000; 
    border-radius: 5px;
    background-color: #f0f0c7; 
    border: 5px solid #80f42e; 
}

div{
    font-family: "Segoe UI", Arial, sans-serif;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;

    padding: 10px;
    border: 1px solid #d9c4df; 
    border-radius: 15px;
    background-color: #fff6e0; 
    margin: 20px;
}

#enter{
    margin: 10px;
    width: 200px;
    height: 75px;
    padding: 10px;
    color: dimgrey;
    font-size: 1.5rem;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #d0e6f0;
}

a{
    background-color: #20ffd2be; 
    border: 2px solid #330033; 
    border-radius: 25px;
    font-size: 2.5rem;
    min-height: 75px;
    min-width: 300px;
    color: #313100;
    padding: 15px;
    margin: 15px;
}

a:hover{
    color:#337a85;
    font-style: italic;
    text-decoration: none;
}